# output
.next
build
dist
out
bin
.swc
*.tsbuildinfo
.turbo
.vercel

# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# tests
.nyc_output
coverage

# environment variables
.env*
!.env.schema

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# temp directory
.temp
.tmp
temp
tmp

# ides & editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# terraform
.terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
