services:
  postgres:
    container_name: api-db
    image: postgres:alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: api
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data:
